CAMELLIA_WEBULL_ENV=disabled
CAMELLIA_WEBULL_APP_KEY=replace_outside_git
CAMELLIA_WEBULL_APP_SECRET=replace_outside_git
CAMELLIA_WEBULL_ACCOUNT_ID=replace_outside_git
CAMELLIA_WEBULL_TOKEN_DIR=%LOCALAPPDATA%/Yuehua-Camellia/webull-token
